{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="navbar">
    <a class="active" href="#home">{{name}}</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact">Contact</a>
</div>










        <div class="container">
    <div class="card">
        <div class="topic">
                Linux
        </div>
        <div class="desc">Description: try linux quiz</div>
        <div class="difficulty">
            <div class="level">Easy</div>
            <div class="level">Medium</div>
            <div class="level">Difficult</div>
        </div>
    </div>
</div>



<div class="container">
    <div class="card">
        <div class="topic">
                SQL
        </div>
        <div class="desc">Description: try linux quiz</div>
        <div class="difficulty">
            <div class="level">Easy</div>
            <div class="level">Medium</div>
            <div class="level">Difficult</div>
        </div>
    </div>
</div>





<div class="container">
    <div class="card">
        <div class="topic">
                NoSQL
        </div>
        <div class="desc">Description: try linux quiz</div>
        <div class="difficulty">
            <div class="level">Easy</div>
            <div class="level">Medium</div>
            <div class="level">Difficult</div>
        </div>
    </div>
</div>















</body>
</html>