{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="navbar">
    <a class="active" name="profile" href="#home">{{name}}</a>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="#services">Leaderboard</a>
    <a href="#contact">History</a>
</div>

<div class="page">
<div class="container">
    <div class="card">
        <div class="card-face back">
        
        <div class="desc">Description: try linux quiz</div>
        <div class="difficulty">
            <div class="level"><a href="{% url 'easy' %}">Easy</a></div>
            <div class="level"><a href="{% url 'medium' %}">Medium</a></div>
            <div class="level"><a href="{% url 'difficult' %}">Hard</a></div>     
        </div>

        
        <div class='scores'>
            <div class='score'>{{score1}}</div>
            <div class='score'>{{score2}}</div>
            <div class='score'>{{score3}}</div>
        </div>

    </div>
    <div class="card-face front">
        <div class="topic">
            Linux
    </div>
      </div>

    </div>
    
</div>



{% comment %} 
<div class="container">
    <div class="card">
        <div class="card-face back">
        
        <div class="desc">Description: try linux quiz</div>
        <div class="difficulty">
            
            <div class="level">Easy</div>
            <div class="level">Medium</div>
            <div class="level">Difficult</div>
        </div>

        
        <div class='scores'>
            <div class='score'>{{score1}}</div>
            <div class='score'>{{score2}}</div>
            <div class='score'>{{score3}}</div>
        </div>

    </div>
    <div class="card-face front">
        <div class="topic">
            SQL
    </div>
      </div>

    </div>
    
</div>



<div class="container">
    <div class="card">
        <div class="card-face back">
        
        <div class="desc">Description: try linux quiz</div>
        <div class="difficulty">
            <div class="level">Easy</div>
            <div class="level">Medium</div>
            <div class="level">Difficult</div>
        </div>

        
        <div class='scores'>
            <div class='score'>{{score1}}</div>
            <div class='score'>{{score2}}</div>
            <div class='score'>{{score3}}</div>
        </div>

    </div>
    <div class="card-face front">
        <div class="topic">
            NoSQL
    </div>
      </div>

    </div>
</div> {% endcomment %}
</div>
</body>
</html>