{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

</head>
<body>

<div class="login-container">
    <h2>Login</h2>
    <form class="login-form" action="logging" method='POST'>
        {% csrf_token %}
        <input type="text" name="email" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        </form>
        <form action="registration">
            <a href="register.html">Register?</a>
         </form>
</div>

</body>
</html>
