{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
        <title>Quiz Page</title>
        <style>
    #question{
        font-size: 40px;
    }
    #options{
        display: flex;
        justify-content: center;
        }
        .option{
            width:200px;
            height: 50px;
            font-size: 30px;
            text-align: center;
            border: solid 2px rgb(175, 150, 150);
        }
        
        .option:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: transform 0.2s ease-in-out;
          }
          .result{
            font-size:50px;
          }
          
</style>
    </head>


    <body>
        <div for="question" id="question"> 
            question
        </div>
        <div id="options">
            <span id="option-a" class="option" onclick = "choice(this)">optiona</span>
            <span id="option-b" class="option" onclick = "choice(this)">optionb</span>
            <span id="option-c" class="option" onclick = "choice(this)">optionc</span>
            <span id="option-d" class="option" onclick = "choice(this)">optiond</span>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            var data = JSON.parse("{{ data|escapejs }}");
            let ques = data.questions;
            let opt = data.options;
            let answer = data.answers;
            
         
            let length_of_q = ques.length;
            
            let score = 0
            
            curr_ques = 0
            let option_a = document.getElementById("option-a");
            let option_b = document.getElementById("option-b");
            let option_d = document.getElementById("option-d");
            let option_c = document.getElementById("option-c");
            let question = document.getElementById("question");
            
            question.textContent = ques[curr_ques];
            option_a.innerHTML = opt[curr_ques][0];
            option_b.innerHTML = opt[curr_ques][1];
            option_c.innerHTML = opt[curr_ques][2];
            option_d.innerHTML = opt[curr_ques][3];
            
            function updateQuestion(){
                question.textContent = ques[curr_ques];
                option_a.innerHTML = opt[curr_ques][0];
                option_b.innerHTML = opt[curr_ques][1];
                option_c.innerHTML = opt[curr_ques][2];
                option_d.innerHTML = opt[curr_ques][3];
            }
            
            function choice(element){
            
                if(element.innerText===answer[curr_ques]){
             
                    score+=1
                    console.log("correct answer");
                }
                else{
                    
                    console.log("incorrect answer");
                }
            
                curr_ques+=1
                if(length_of_q!==curr_ques){
                updateQuestion();
                }
                else{
                    tag = "<span class='result'>your score is " + score + "</span>"
                    document.getElementById('options').innerHTML = tag;
                    document.getElementById('question').innerHTML = "";
                   
                    $.ajax({
                        type: "POST",
                        url: "updated_score",
                        data: {
                           'updated_data': score,
                           csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                           console.log(response);
                        },
                        error: function(error) {
                           console.log(error);
                        }
                     });
                     
            
                }
            }        </script>

  
  
        
    
</body>
    </html>