{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

</head>
<body>

<div class="registration-container">
    <h2>Registration</h2>
    <form  class="registration-form" action="registering" method='POST'>
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="Cpassword" placeholder="Confirm Password" required>
        
        <button>Register</button>
    </form>
</div>

</body>
</html>
