.container{
    width: 90%;
    /* border: solid 2px orange; */
    display: flex;
    justify-content: center;
    padding: 4.5%;
    
}

.card{
    border: solid 2px pink;
    display: flex;
    flex-direction: column;
    width:80%;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
}

.topic{
    /* border: solid 2px pink; */
    display: flex;
    justify-content: center;
}
.desc{
    /* border: solid 2px pink; */
    display: flex;
    justify-content: center;
}
.difficulty{
    /* border: solid 2px pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card:hover{
    /* width:82%;
    font-size: 20px; */
    transform: scale(1.1);
}

